/* You can add global styles to this file, and also import other style files */

.bg-black { 
    background-color: rgb(0, 0, 0);

}

.list-group {
    --bs-list-group-bg: transparent;
}
/* Aca abajo: para que cambien de color cuando se pone el mouse en los iconos de github, insta y facebook */
.fa-brands.fa-github.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #2b0083 !important;
}

.fa-brands.fa-facebook.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #1877f2 !important;

}

.fa-brands.fa-instagram.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #ff0771 !important;
}
.fa-solid.fa-user-lock.fa-2x:hover {
    --bs-text-opacity: 1;
    color: #152caf !important;
}
/* Aca termina lo de los colores cuando se apoya el mouse */
/* Abajo le doy opacidad al banner de fondo */
section.banner {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,1)
    ),
    url(/assets/img/imagen1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
}
/* Prueba fondo */
section.fondo {
    background-image: linear-gradient(
        rgba(0,0,0,1),
        rgba(0,0,0,0.3)
    ),
    url(/assets/img/imagen2.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    margin-top: -3rem; 
    margin-block: -4rem;
}

h3.intro {
    padding-top: 15%;
    font-size: 3rem;
}

h1.intro {
    font-size: 4rem;
}

h4.intro {
    font-size: 1.7rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
height: 100px;
width: 100px;
outline: black;
background-size: 100%, 100%;
border-radius: 50%;
border: 1px solid black;
background-image: none;
}

.carousel-control-next-icon:after
{
content: '>';
font-size: 55px;
color: rgb(0, 0, 0);
}

.carousel-control-prev-icon:after {
content: '<';
font-size: 55px;
color: rgb(0, 0, 0);
}

.bg-black.text-white.text-center.fs-6 {
    margin-top: 4%;
}

/* Prueba color letras presentacion y demas, tambien sombra a color */

#texto1 {
    color: #ffffff;
    text-shadow: 4px 3px 3px rgb(12, 20, 136);
}

#texto2 {
    color: #ffffff;
    text-shadow: 4px 3px 3px rgb(12, 20, 136);
}

#texto3 {
    color: #ffffff;
    text-shadow: 4px 3px 3px rgb(12, 20, 136);
}

#texto4 {
    color: #ffffff;
    text-shadow: 4px 3px 3px rgb(12, 20, 136);
}
